@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}

:root {

    --laranja-gamefesto: #FFA647;
    --azul_claro-gamefesto: #20aaff;
    --azul_escuro-gamefesto: #1D2F6F;
    --escuro-gamefesto: #31323f;

}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 85vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: linear-gradient(360deg, rgba(1,44,135,0) 0%, rgba(29,47,111,1) 90%) ,url(img/gamefesto_bground.png);
    background-repeat: no-repeat;

    background-size: 100%;
}

header {
    height: 165px;
}

header div.container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 250px;
}

header button {
    display: none;
}

.menu {
    width: 820px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color:white;
    
    font-family: 'Orbitron';
    font-size: 16px;
    font-weight: bold;
    
    text-decoration: underline transparent;

    background-color: var(--laranja-gamefesto);
    height: 43px;
    width: 190px;

    border-radius: 15px;

    padding: 10px;

    display: flex;
    justify-content: center;

    transition: 500ms ease;
}

.menu a:hover {
    background-color: #B37432;
}

.conteudo-banner {
    height: calc(100vh - 165px);

    display: flex;
    align-items: center
}

.conteudo-banner p {
    color: white;

    font-family: 'Poppins';
    font-size: 30px;

    text-shadow: 3px 4px 3px var(--azul_escuro-gamefesto);

    padding-bottom: 100px;
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;

    padding-top: 40px;

    background-image: url(img/pattern\ azul.png);

    background-size: 155px;

    background-color: var(--azul_claro-gamefesto);
}

h2 {
    font-family: 'Orbitron';
    font-size: 20px;
}

p {
    font-family: 'Poppins';
    font-size: 17px;
}

#sobre h2 {
    color: white;

    padding: 15px;

    background-color: #ff5e00;
    height: 60px;

    border-radius: 20px 20px 0px 0px;
}

#sobre p {
    font-family: 'Poppins';
    font-size: 17px;
}

#sobre .container-grid {
    width: 70vw;

}

.sobre-nos {
    margin-bottom: 40px;

    height: 500px;

    padding: 40px;

    display: flex;
    align-items: center;

    background-color: white;

    border-radius: 0px 0px 20px 20px;  
}

.sobre-nos img {
    width: 500px;
}

.gamificacao {
    margin-bottom: 40px;

    height: 400px;

    padding: 40px;

    display: flex;
    align-items: center;

    background-color: white;

    border-radius: 0px 0px 20px 20px;  
}

.gamificacao img {
    width: 500px;
}

.onde-aplicar {
    margin-bottom: 70px;

    height: 500px;

    padding: 40px;

    display: flex;
    align-items: center;

    background-color: white;

    border-radius: 0px 0px 20px 20px;
}   

.onde-aplicar img {
    width: 400px;
    padding-bottom: 15px;
}

.onde-aplicar .paragrafo {
    text-align: left;
}

#trabalhos {
    background-image: url(img/pattern-back.png);
    background-size: 100px;

    background-repeat: repeat;

    background-attachment: fixed;

    position: relative;
}

#trabalhos h2 {
    color: var(--azul_escuro-gamefesto);
    font-weight: 900;

    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

#trabalhos .container-grid {
    width: 70vw;
}

#trabalhos .container-grid img {
    width: 100%;

    padding-bottom: 50px;
}

#portfolio {
    display: flex;
    justify-content: center;
}

.cover-bg {
    padding: 20px;

    background-color: rgb(99, 51, 0, 0.7);

    width: 90%;

    margin-bottom: 60px;

    border-radius: 20px;
}

#portfolio .cover {
    height: 100vh;

    background-image: url(img/game-cover.png);
    background-size: 85%;

    background-repeat: no-repeat;

    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#portfolio img {
    width: 350px;

    padding-top: 20px;
}

#portfolio svg {
    width: 125px;

    color: var(--azul_claro-gamefesto);

    transition: 500ms ease;
}

#portfolio svg:hover {
    color: #005f9a;

    width: 150px;
}

#contato {
    display: flex;
    justify-content: center;
}

#contato form .container-grid{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 15px;
}

form {
    background-color: white;

    padding: 70px;
    padding-top: 40px;
    padding-bottom: 0;

    margin: 50px;
    margin-bottom: 150px;

    width: 80%;

    border-radius: 40px;
}

form .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info .pessoal {
    width: 100%;

    display: flex;
    flex-direction: column;
}

#contato form label {
    font-family: "Poppins";

    margin-bottom: 15px;
    font-size: 20px;
}

.pessoal .campo {
    width: 80%;

    margin-bottom: 50px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pessoal .campo input {
    height: 40px;

    color: cadetblue;
    background-color: #dddddd;

    border: none;
    border-radius: 10px;
    border-color: var(--escuro-gamefesto);

    outline: none;

    text-indent: 10px;

    font-family: 'Poppins';
    font-size: 17px;
}

.pessoal .campo-textarea {
    width: 80%;

    margin-bottom: 30px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pessoal .campo-textarea textarea {
    color: cadetblue;
    background-color: #dddddd;

    border: none;
    border-radius: 10px;
    border-color: var(--escuro-gamefesto);
    border-width: 5px;

    padding: 10px;

    font-family: 'Poppins';
    font-size: 17px;

    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 3px solid var(--laranja-gamefesto);
}

.info .pessoal button {
    margin: 10px;

    font-family: 'Orbitron';
    font-size: 20px;
    color: white;
    font-weight: 600;

    background-color: var(--azul_claro-gamefesto);

    width: 60%;
    height: 60px;

    border: none;
    border-radius: 10px;

    transition: 500ms ease
}

.pessoal button:hover {
    background-color: #005f9a;
}

.social {
    display: flex;
    flex-direction: column;
}

.info .social h2 {
    padding-bottom: 30px;
}

.social .campo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social .campo p{
    font-size: 20px;
}

.social .campo img {
    margin: 20px;

    width: 60px;
}

.social img {
    width: 500px;
}

.fundo-laranja {
    padding-top: 40px;

    background-image: linear-gradient(180deg, rgba(1,44,135,0) 0%, rgb(111, 72, 31 ,0.70) 90%), url(img/pattern-lar.png);
    background-size: 155px;
}

footer {
    height: 100vh;

    background-color: var(--escuro-gamefesto);

    display: flex;
    justify-content: space-between;

    padding-left: 70px;
    padding-right: 70px;
}

footer .container-grid {
    padding-top: 40px;
}

footer .direitos img {
    width: 300px;
}

footer .container-grid .direitos p {
    color: white;

    margin-bottom: 10px;
}

.redes-sociais a {
    margin: 10px;

    color: white;
}

.redes-sociais a:hover {
    color: var(--azul_claro-gamefesto);
}

@media screen and (max-width: 1320px) {
    .container-grid {
        width: 90vw;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;
    }

    header svg {
        width: 100%;

        height: 100%;

        color: white;

        transition: 500ms ease;
    }

    header svg:hover {
        color: var(--azul_claro-gamefesto);
    }

    nav.menu {
        height: 500px;
        width: 350px;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        border-radius: 20px;

        background: linear-gradient(360deg, rgba(49,50,63,1) 29%, rgba(0,0,0,1) 100%);
        position: absolute;
        top: 165px;
        right: 0px;
    }

    nav.menu a {
        background-color: var(--azul_claro-gamefesto);

        width: 85%;
    }

    nav.menu :last-child {
        background-color: var(--laranja-gamefesto);
    }

    .sobre-nos img {
        width: 400px;
    }

    .gamificacao {
        padding-bottom: 0;
    }

    .gamificacao img {
        width: 450px;
    }

    .onde-aplicar {
        padding-bottom: 0;
    }

    .onde-aplicar img {
        width: 350px;
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {
    #sobre .container-grid {
        width: 90vw;
    }

    #trabalhos .container-grid {
        width: 80vw;
    }

    .social {
        justify-content: space-between;
    }

    .social img {
        width: 400px;
    }
    
    .social .campo p {
        font-size: 17px;
    }

    #sobre {
        background-size: 100px;
    }

    #trabalhos {
        background-size: 80px;
    }

    .fundo-laranja {
        background-size: 100px;
    }
}

@media screen and (max-width: 990px) {
    #portfolio .cover {
        background-size: 100%;
    }
}