@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}

:root {

    --laranja-gamefesto: #FFA647;
    --azul_claro-gamefesto: #20aaff;
    --azul_escuro-gamefesto: #1D2F6F;
    --escuro-gamefesto: #31323f;

}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 85vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: linear-gradient(360deg, rgba(1,44,135,0) 0%, rgba(29,47,111,1) 90%) ,url(img/gamefesto_bground.png);
    background-repeat: no-repeat;

    background-size: 100%;
}

header {
    height: 165px;
}

header div.container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 250px;
}

.menu {
    width: 820px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color:white;
    
    font-family: 'Orbitron';
    font-size: 16px;
    font-weight: bold;
    
    text-decoration: underline transparent;

    background-color: var(--laranja-gamefesto);
    height: 43px;
    width: 190px;

    border-radius: 15px;

    padding: 10px;

    display: flex;
    justify-content: center;

    transition: 500ms ease;
}

.menu a:hover {
    background-color: #B37432;
}

.conteudo-banner {
    height: calc(100vh - 165px);

    display: flex;
    align-items: center
}

.conteudo-banner p {
    color: white;

    font-family: 'Poppins';
    font-size: 30px;

    text-shadow: 3px 4px 3px var(--azul_escuro-gamefesto);

    padding-bottom: 100px;
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;

    padding-top: 40px;

    background-image: url(img/pattern\ azul.png);

    background-size: 155px;

    background-color: var(--azul_claro-gamefesto);
}

h2 {
    font-family: 'Orbitron';
    font-size: 20px;
}

p {
    font-family: 'Poppins';
    font-size: 17px;
}

#sobre h2 {
    color: white;

    padding: 15px;

    background-color: #ff5e00;
    height: 60px;

    border-radius: 20px 20px 0px 0px;
}

#sobre p {
    font-family: 'Poppins';
    font-size: 17px;
}

#sobre .container-grid {
    width: 70vw;

}

.sobre-nos {
    margin-bottom: 40px;

    height: 500px;

    padding: 40px;

    display: flex;
    align-items: center;

    background-color: white;

    border-radius: 0px 0px 20px 20px;  
}

.sobre-nos img {
    width: 500px;
}

.gamificacao {
    margin-bottom: 40px;

    height: 400px;

    padding: 40px;

    display: flex;
    align-items: center;

    background-color: white;

    border-radius: 0px 0px 20px 20px;  
}

.gamificacao img {
    width: 500px;
}

.onde-aplicar {
    margin-bottom: 70px;

    height: 500px;

    padding: 40px;

    display: flex;
    align-items: center;

    background-color: white;

    border-radius: 0px 0px 20px 20px;
}   

.onde-aplicar img {
    width: 400px;
    padding-bottom: 15px;
}

.onde-aplicar .paragrafo {
    text-align: left;
}